
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
buildCommand = "npm run build"

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[workflows.workflow]]
name = "Run Dev Mode" 
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[workflows]
runButton = "Run Dev Mode"
