modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
buildCommand = "npm run build"
run = ["sh", "-c", "npx serve -s dist"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Run Dev Mode"

[[workflows.workflow]]
name = "Run Dev Mode"
author = 18570664
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5174
externalPort = 80
exposeLocalhost = true
